*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background-color:aqua;
  height: 700px;
  width: 98%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
}

.top{
  border: 2px solid black;
  background-color: blue;
  flex: 0.5;
  display: flex;
  flex-direction: row;
}

.bottom{
  border: 2px solid black;
  flex: 0.5;
  display: flex;
  flex-direction: row;  
}

.top-left{
  flex: 0.5;
  border: 2px solid black;
}

.top-right{
  flex: 0.5;
  border: 2px solid black;
}


.bottom-left{
  flex: 0.5;
  border: 2px solid black;
}


.bottom-right{
  flex: 0.5;
  border: 2px solid black;
}